# docker database
DATABASE_URL=postgresql://postgres:postgres@db:5432/nutritrack
# replace in production
# deploy-ul aplicatiei are propriul secret key pe railway unde e deploy-at
SECRET_KEY=string-super-lung-si-secret
# frontend build output
FRONTEND_DIST=/app/frontend/dist